In [1]:
l =[1,2,3,4,"sudh","kumar",45.55]

In [2]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.55]

In [8]:
for i in l:
    print(i)

1
2
3
4
sudh
kumar
45.55

In [9]:
for i in l:
    pass

In [10]:
s ="sudh"
for i in s:
    print(i)

s
u
d
h

In [11]:
for i in l:
    print(i)
else:
    print("if for loop i going to complete itself then it will execute else")

1
2
3
4
sudh
kumar
45.55
if for loop i going to complete itself then it will execute else

In [12]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.55]

In [14]:
for i in l:
    if i==4:
        break
    print(i)
else:
    print("this will execute only if for is going to complete itself")

1
2
3

In [2]:
s = "sudhanshu"
for i in s:
    if i =='z':
        break
    print (i)
else:
    print("print string " , s)

s
u
d
h
a
n
s
h
u
print string  sudhanshu

In [3]:
s = "sudhanshu"
for i in s:
    if i =='n':
        break
    print (i)
else:
    print("print string " , s)

s
u
d
h
a

Definition: tupples are immuatbale and List are mutable

In [7]:
t  = (4,4,5,6,7,5,4,3,'Rajan')
for i in t:
    print(i)

4
4
5
6
7
5
4
3
Rajan

In [8]:
s= {4,5,6,4,7,7,8,8,9,'sudh'}

In [10]:
type(s)

set

In [11]:
s

{4, 5, 6, 7, 8, 9, 'sudh'}

In [13]:
for i in s:
    print(i)

4
5
6
7
8
9
sudh

In [14]:
d={'key1':"sudh",'contact': "sudhanhu@ineuron.ai","position":"xyz"}

In [15]:
for i in d:
    print(i)

key1
contact
position

In [16]:
d['key1']

'sudh'

In [17]:
for i in d:
    print(d[i])

sudh
sudhanhu@ineuron.ai
xyz

In [18]:
for i in d:
    print(i,d[i])

key1 sudh
contact sudhanhu@ineuron.ai
position xyz

In [20]:
for i in d:
    print[i,d(i)]

TypeError: 'dict' object is not callable

In [21]:
range(9)

range(0, 9)

Range function - it generate a data set from 0 to 8 excluding 9

In [22]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [27]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [28]:
for i in range(7,9):
    print(i)

7
8

In [29]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [30]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [31]:
list(range(0,9,-1))

[]

In [34]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
n =4
for i in range(4):
    for j in range(0,i+1):
        print("sudh", end =" ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [43]:
n =4
for i in range(4):
    for j in range(0,i+1):
        print("sudh")
    print("\n")

sudh


sudh
sudh


sudh
sudh
sudh


sudh
sudh
sudh
sudh

In [51]:
n = 4
for i in range(n):
    for j in range(n - i - 1):
        print('    ', end=' ')
    for k in range(2 * i + 1):
        print("sudh", end=' ')
    print()

               sudh
          sudh sudh sudh
     sudh sudh sudh sudh sudh
sudh sudh sudh sudh sudh sudh sudh

In [57]:
n =3
for i in range(n+1):
    print('  '*(n-i)+' sudh '*i)

     sudh
   sudh  sudh
 sudh  sudh  sudh

In [59]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(" "*len("sudh"),end=" ")
    for j in range(i+1):
        print("sudh",end=" ")
    for j in range(i):
        print("sudh",end=" ")
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [9]:
n= 3
for i in range(n):
    for j in range(i,n-1):
        print(" " * len("sudh"), end = " ")
    for j in range(i+1):
        print("sudh", end=" ")
    for j in range(i):
        print("Rajan", end = " ")
    print()

          sudh
     sudh sudh Rajan
sudh sudh sudh Rajan Rajan

In [ ]:
t = (3,4,56,45,33,66,7)

In [3]:
n = 3

for i in range(n+1):
    print ('  '*(n-i) + 'sudh '*i)

    sudh
  sudh sudh
sudh sudh sudh

In [4]:
list(range(0))

[]

In [5]:
t = (23,5,6,7,48,8,9,3,2)

In [6]:
t

(23, 5, 6, 7, 48, 8, 9, 3, 2)